- wrap_layout :layout do
  .blog
    .col-md-9
      - if current_article
        %h2= current_article.title
        .date.pull-right= I18n.l current_article.date
        - current_article.tags.each do |tag|
          = blog_tag_for tag
        %hr
      = yield
      %hr
      %ul.social_buttons.list-inline
        %li.evernote
        %li.hatena
        %li.tweet
        %li.facebook_like

    %aside.sidebar.col-md-3
      = partial 'shared/blog_sidebar'
