.panel
  .panel-heading
    %h1 Recent Articles
  .panel-body
    %ul
      - blog.articles[0...10].each do |article|
        %li
          %span.date= I18n.l article.date, format: :date
          %br
          %i.fa.fa-pencil
          = link_to article.title, article

.panel
  .panel-heading
    %h1 Tags
  .panel-body
    %ul
      - blog.tags.each do |tag, articles|
        %li
          %i.fa.fa-tag
          = link_to tag, tag_path(tag)
          = "(#{articles.size})"

.panel
  .panel-heading
    %h1 By Month
  .panel-body
    %ul
      - blog.articles.group_by {|a| a.date.year }.each do |year, articles|
        - articles.group_by  {|a| a.date.month }.each do |month, _articles|
          %li
            = link_to "#{year}/#{'%02d' % month}", blog_month_path(year, month)
            = "(#{articles.size})"
